@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width:992px) {
    section#login {
        width: 80vw;
        height: 400px;
    }
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    body {
        background-image: linear-gradient(to top, #E64D39, #9D7470);
    }

    input[type=submit] {
          width: 68%;
    }

    input[type=button] {
          width: 68%;
    }     
}



@media screen and (min-width:992px) {
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float:left;
        width: 50%;
    }

    body {
        background-image: linear-gradient(to top, #E64D39, #9D7470);
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }

    input[type=submit] {
        width: 49%;
  }

  input[type=button] {
       width: 49%;
  }
}