@charset "UTF-8";

/* Paleta de cores
Marrom : #9D7470
Marrom claro: #c27d74
Laranja: #E64D39
Cinza: #3C3535
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #c27d74;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 515px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    
}

section#login > div#imagem {
    background: #c27d74 url(../imagens/imglog.jpg) no-repeat ;
    height: 200px;
    background-size: cover;
    background-position: top center;
    display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

div.campo {
    background-color: #5c2722;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}



input[type=submit] {
    display: block;
    font-size: 1em;
    width: 90%;
    margin: auto;
    height: 40px;
    background-color: #E64D39;
    color: white;
    border: none;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #e64d39d8;
    cursor: pointer;
}

input[type=button] {
    width: 90%;
    font-size: 1em;
    height: 40px;
    display: block;
    margin: auto;
    background-color: #815752;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
}

input[type=button]:hover {
    background-color: #a56f69;;
    cursor: pointer;
}



